<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO Directory</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="mission.html">Our Mission</a></li>
                <li><a href="involved.html">Get Involved</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="sign-in.html">Sign In</a></li>
                <li><a href="sign-up.html">Sign Up</a></li>
                <li>
                    <label for="ngo-directory">NGO Directory</label>
                    <select id="ngo-directory" name="ngo-directory">
                        <option value="state-wise">NGOs (State-wise)</option>
                        <option value="sector-wise">NGOs (Sector-wise)</option>
                    </select>
                </li>
            </ul>
        </nav>
    </header>

</body>
</html>